body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
}

.navbar {
    background-color: #3e723c;
}

.antrian-saat-ini {
    background-color: #ebab46;
}

.queue-now {
    color: #c63535;
}

.label-antrian-anda {
    background-color: #cdcccc;
}

.nomor-antrian-anda {
    color: #c63535;
}